* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#playText {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100vw;
  z-index: 7;
  top: 50px;
  text-align: center;
  color: white;
  font-size: 48px;
  font-family: 'Roboto', sans-serif;
  pointer-events: none;
}
